{% extends 'base.html' %}
{% load static %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		
		
		<table class="table form-table table-bordered table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th class="font-weight-bold">ID-№ <span>H_001 </span> <br> № Заказа <span> _ 1 _</span></th>
                                    <th class="font-weight-bold">Имя <br> ЗАКАЗЧИКА</th>
                                    <th class="font-weight-bold">Номер <br> ТЕЛЕФОНА</th>
                                    <th class="font-weight-bold">ОТВЕТСВЕННЫЙ <br> Менеджер</th>
                                    <th class="font-weight-bold">ДАТА ПРИЕМА ЗАКАЗА</th>
                                    <th class="font-weight-bold">ДАТА ОТГРУЗКИ ЗАКАЗА</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="id_name_order" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                                    </td>
                                    <td>
                                        <input name="client" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                                    </td>
                                    <td>
                                        <input name="client_phone_number" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                                    </td>
                                    <td>
                                        <input name="manager_name" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                                    </td>
                                    <td>
                                        <input name="date_order" type="date" class="form-control" placeholder="ID-№" aria-label="ID-№">
                                    </td>
                                    <td>
                                        <input name="ready_product_date_order" type="date" class="form-control" placeholder="ДАТА ОТГРУЗКИ ЗАКАЗА" aria-label="ДАТА ОТГРУЗКИ ЗАКАЗА">
                                    </td>
                                </tr>
                                
                            </tbody>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            
                            <br>
                            <tbody>
                            {% for form_data in formset %}
                                <tr class="item">
                                    <td>
                                        <label>Id</label>
                                        {{ form_data.id }}
                                    </td>
                                    <td>
                                        <label>Name</label>
                                        {{ form_data.name }}
                                    </td>
                                    <td>
                                        <label>Select</label>
                                    	<select class="p-2" name="" id="">
                                            <option class="small p-2" selected value="шт">{{form_data.status_order}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Amount</label>
                                    	{{ form_data.amount }}
                                    </td>
                                    <td>
                                        <label>Price</label>
                                    	{{ form_data.price }}
                                    </td>
                                    <td>
                                        <label>Wtihout Price VAT</label>
                                    	{{ form_data.price_free_VAT }}
                                    </td>
                                    <td>
                                        <label>VAT</label>
                                    	{{ form_data.VAT }}
                                    </td>
                                    <td>
                                        <label>Price VAT</label>
                                    	{{ form_data.price_with_VAT }}
                                    </td>
                                    <td><label>Total</label>

                                    	{{ form_data.total }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                                id="{{ formset.prefix }}">
                                          
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="9"
                                    style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                                    <button type="button" class="btn btn-sm btn-success add-form-row"
                                            id="{{ formset.prefix }}">
                                       Add
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {{ formset.management_form }}

		<button type="submit">Submit</button>
	</form>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}