{% extends 'base.html' %}
{% load static %}

{% block content %}



    <br>
    <br>
    <br>
    <br>
	<form method="POST">
		{% csrf_token %}
		<div class='container'>
		    <table class="table form-table table-bordered table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th class="font-weight-bold">ID-№ <span>H_001 </span> <br> № Заказа <span> _ 1 _</span></th>
                                    <th class="font-weight-bold">Имя <br> ЗАКАЗЧИКА</th>
                                    <th class="font-weight-bold">Номер <br> ТЕЛЕФОНА</th>
                                    <th class="font-weight-bold">ОТВЕТСВЕННЫЙ <br> Менеджер</th>
                                    <th class="font-weight-bold">ДАТА ПРИЕМА ЗАКАЗА</th>
                                    <th class="font-weight-bold">ДАТА ОТГРУЗКИ ЗАКАЗА</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="id_name_order" type="text" class="form-control" placeholder="Заказ" aria-label="№ Заказа">
                                    </td>
                                    <td>
                                        <input name="client" type="text" class="form-control" placeholder="Имя " aria-label="Имя ЗАКАЗЧИКА">
                                    </td>
                                    <td>
                                        <input name="client_phone_number" type="text" class="form-control" placeholder="Номер" aria-label="Номер ТЕЛЕФОНА">
                                    </td>
                                    <td>
                                        <input name="manager_name" type="text" class="form-control" placeholder="Менеджер" aria-label="ОТВЕТСВЕННЫЙ Менеджер">
                                    </td>
                                    <td>
                                        <input name="date_order" type="date" class="form-control" placeholder="ДАТА ПРИЕМА ЗАКАЗА" aria-label="ДАТА ПРИЕМА ЗАКАЗА">
                                    </td>
                                    <td>
                                        <input name="ready_product_date_order" type="date" class="form-control" placeholder="ДАТА ОТГРУЗКИ ЗАКАЗА" aria-label="ДАТА ОТГРУЗКИ ЗАКАЗА">
                                    </td>
                                </tr>
                                
                            </tbody>
                            <tbody>
                            <table class="table form-table table-bordered table-sm">

                                <thead class="text-center">
                                            <tr class="item">
                                                <th scope='col'>Наименование работ,услуг</th>
                                                <th scope='col'>Ед.изм.</th>
                                                <th scope='col'>Кол-во</th>
                                                <th scope='col'>Цена за единицу</th>
                                                <th scope='col'>НДС</th>
                                            </tr>
                                </thead>
                                <tbody>
                                    {% for form_data in formset %}
                                        <tr class="item">
                                            <td>
                                                <input name="form_data.name" type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                                       value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                    {{ form_data.status_order }}
                                                </label>
                                            </td>
                                            <td>
                                                <input name="form_data.amount" type="number" class="form-control">
                                            
                                            </td>
                                            <td>
                                                <input name="form_data.price" type="number" class="form-control">
                                            
                                            </td>
                                            <td>
                                                <input name="form_data.VAT" type="number" class="form-control">
                                            
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                                        id="{{ formset.prefix }}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    
                                    {% endfor %}
                                    </tbody>
                            </table>
                                    <tr>
                                        <td colspan="9"
                                            style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                                            <button type="button" class="btn btn-sm btn-success add-form-row"
                                                    id="{{ formset.prefix }}">
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                        </table>
                        
            </div>
            {{ formset.management_form }}
            <button type="submit" >Submit</button>
	</form>
    
    <br>
    <br>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}