{% extends 'base.html' %}
{% load static %}

{% block content %}
	<table>
     <thead>
        
     </thead>   
     <tbody>
         {% for data in datas %}
           <tr>
            <td class="pt-3">{{data.id_name_order}}</td>
            <td class="pt-5">{{data.client}}</td>
            <td class="pt-5">{{data.client_phone_number}}</td>
            <td class="pt-5">{{data.manager_name}}</td>
            <td class="pt-5">{{data.date_order}}</td>
            <td class="pt-5">{{data.ready_product_date_order}}</td>
           </tr>
         {% endfor %}
     </tbody>
    </table>
	
{% endblock %}
