{% extends 'base.html' %}

{% load static %}

{% block content %}


	<section class="console-container" style="background-image: url({% static 'img/bg/full.jpg' %}); background-size: cover;">
		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
				  <h1 class="text-white font-weight-bold text-left text_h1">Дизайн студио.</h1>
				</div>
			</div>
		</div>
	</section>
	
  
    <section class="container-fluid">
        <div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-12">
					<h6 class="font-weight-normal text-justify">Специалисты нашего Дизайн-бюро всегда готовы к решению любых самых сложных задач. Мы занимаемся всеми видами рекламной полиграфии, разработкой логотипов и фирменных стилей компаний, изготовлением оригинал-макетов любой полиграфической продукции, начиная от визитки, календаря и каталога и заканчивая разработкой упаковки и этикетки. Наши дизайнеры имеют большой опыт работы с рекламной и офисной полиграфической продукцией, они профессионально разрабатывают дизайн рекламных листовок для адресной рассылки, макеты рекламных модулей или полос для иллюстрированного журнала. Офис нашей компании находится со станцией метро Парк Победы. Мы приглашаем вас посетить нас и при личной встрече передать свои пожелания нашим дизайнерам. Перечень услуг, предлагаемых нашей дизайн-студией, вы найдете в разделе — дизайн и верстка.</h6>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
					<div class="text-right" style="background-image: url({% static 'img/bg/poligraphy-design-back.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h4 class="pb-5 pt-2 text-white text-left">Полиграфический Дизайн</h4>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
					<div class="text-right" style="background-image: url({% static 'img/bg/reklama-design-back4.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;"> 
							<h4 class="pb-5 pt-2 text-white text-left">Наружная реклама</h4>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
					<div class="text-right" style="background-image: url({% static 'img/bg/brending-back2.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h4 class="pb-5 pt-2 text-white text-left">Брендинг</h4>
						</div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h1 class="font-weight-bold h2 text-center pt-5 pb-3">Наши работы.</h1></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d3.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div></div>
			</div>
        </div>
    </section>

	{% endblock content %}
	