{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--  -->
<section class="container-fluid pt-5 pb-5">
      <div class="container p-5">
        <div class="row border p-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8">
              <h5 class="font-weight-bold">OOO  «MY PRINT»</h5>
              <h6>Адрес: г.Ташкент  Учтепинский р-н, 14-квартал дом № 4. Тел: 90-109-15-00</h6s>
              <p class="pt-3 h6 ">Со склада: Участок оперативной печати склад</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-3">
                <img src="img/logo.png" width="100%" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <h5 class="text-center font-weight-bold pt-3">№ 0000000003 от  <span class="h5 font-weight-bold">02.12.2022</span></h5>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
             <p class="h6">Получатель:  ________________</p>
             <p class="h6">Основание:   Заявка 00001     г.</p>
             <p class="h6">Через: ID  001</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3 text-center justify-content-center">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="font-weight-bold">№</th>
                <th class="font-weight-bold">Наименование товара</th>
                <th class="font-weight-bold">Единица измерения</th>
                <th class="font-weight-bold">Кол-во</th>
                <th class="font-weight-bold">Цена</th>
                <th class="font-weight-bold">Сумма</th>
              </tr>
            </thead>
            <tbody>
             
              <tr>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
              </tr>
              <tr>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
              </tr>
              <tr>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
                <td class="font-weight-normal">sdfdsf</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого без НДС:</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>НДС:</td>
                <td></td>
              </tr>
              <tr>
                <td class="">Всего отгружено:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
            </table>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h6> Разрешил   _____________________</h6>
            <h6>Отпустил   ______________________</h6>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h6>Гл.бухгалтер  _____________________</h6>
            <h6>Получил  _________________________</h6>
          </div>

        </div>
      </div>
</section>


<section class="container-fluid pt-5 pb-5" style=" width: 100%; height: 125vh;"></section>

{% endblock content %}