{% extends 'base.html' %}

{% load static %}

{% block content %}

  <section class="console-container" style="background-image: url(img/bg/head.jpg); background-size: cover;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
              <h1 class="text-white font-weight-bold text-left text_h1">Лазерная маркировка.</h1>
            </div>
        </div>
    </div>
</section>


    <section class="container-fluid" style="background-color: #fff;">
        <div class="container pt-5">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-3">
                  <h6 class="font-weight-normal text-justify pb-4"><span class="h5 colorRed font-weight-bold">Лазерная гравировка </span> — это метод нанесения изображения на какое-либо изделие с помощью сфокусированного лазерного луча. Как правило, это изображение имеет некоторую глубину (рельеф), и в этом заключается основное отличие лазерной гравировки от лазерной маркировки. Лазерной гравировкой часто называют само изображение, полученное на изделии. Как правило, это логотипы, надписи, какой-либо орнамент или рисунок.</h6>
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Размер</th>
                        <th scope="col">Цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td scope="row" data-label="Размер">Гравировка ручки</td><td data-label="Цена">1 500</td></tr>
                      <tr><td scope="row" data-label="Размер">Гравировка PowerBank</td><td data-label="Цена">5 000</td></tr>
                      <tr><td scope="row" data-label="Размер">Гравировка термокружка</td><td data-label="Цена">45 00</td></tr>
                      <tr><td scope="row" data-label="Размер">Гравировка термос</td><td data-label="Цена">10 000</td></tr>
                     
                     
                    </tbody>
                  </table>
              </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-3">
                    <img src="img/bg/markirovka.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="container pb-5">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h1 class="font-weight-bold h2 text-center pt-5 pb-3">Наши работы.</h1></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t5.jpg" width="100%"  height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t6.jpg" width="100%"   height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t7.jpg" width="100%"   height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t1.jpg" width="100%"   height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t3.jpg" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/t4.jpg" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/p2.webp" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="img/markirovka/p1.webp" width="100%" height="200" alt=""></div></div>
			</div>
        </div>
    </section>


    {% endblock content %}