{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section class="console-container" style="background-image: url(img/bg/head.jpg); background-size: cover;">
		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
				  <h1 class="text-white font-weight-bold text-left text_h1">Наши работы.</h1>
				</div>
			</div>
		</div>
	</section>
	

    <section class="container-fluid">
        <div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/markirovka/t3.jpg" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/markirovka/t4.jpg" width="100%" height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d3.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d4.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d5.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d6.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d7.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d8.jpg" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d9.jpg" width="100%" 	height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/works/other/d10.jpg" width="100%" height="200" alt=""></div></div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/products/ruchka/r1.png" width="100%" 	height="200" alt=""></div></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="p-2 border"><img src="img/products/12.jpg" width="100%" 	height="200" alt=""></div></div>
                
                
            </div>
        </div>
    </section>
{% endblock content %}

