{% extends 'base.html' %}

{% load static %}
{% block content %}
  <section class="console-container" style="background-image: url(); background-size: cover;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
              <h1 class="text-white font-weight-bold text-left text_h1">Широкоформатная печать.</h1>
            </div>
        </div>
    </div>
</section>

    <section class="container-fluid">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h5 class="font-weight-normal text-justify"><span class="h5 colorRed font-weight-bold">Широкоформатная печать</span> — Эта технология пользуется широкой популярностью при изготовлении различных видов рекламы – как наружной, так и интерьерной. Такая печать совмещает в себе множество вариантов оформления и материалов изготовления, что делает ее наиболее доступной и востребованной для производства рекламы, привлекающей внимание потенциальных клиентов. Ее можно использовать для рекламы на баннерах, афишах, в офисах, на выставках и ТРЦ.</h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="{% static 'img/bg/largeFormatPrint.png'%}" width="100%" alt="">
                </div> 

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-1.png'%}" width="100%" height="250" alt=""></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-2.jpg'%}" width="100%" height="250" alt=""></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-3.jpg'%}" width="100%" height="250" alt=""></div>
            </div>
        </div>
      </section>

    <section class="container-fluid mt-5">
        <div class="container">
            <div class="row pl-3 pr-3 text-right">
                <table class="p-5">
                    <thead>
                      <tr>
                        <th scope="col">Наименования</th>
                        <th scope="col">Ед.изм</th>
                        <th scope="col">Печать цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row" data-label="Наименования">Баннер</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">25 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">35 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Матовый оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">55 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Cеточный оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">55 000</td>
                      </tr>
                    
                    </tbody>
                  </table>
                <div class="col-12 pt-3 pb-5 text-right">
                  <button type="button" class="btn btn-success pl-5 pr-5" data-toggle="modal" data-target="#orderModal">Заказать печать</button>  
                </div>    
            </div>

        </div>
    </section>

    <section class="console-container pt-5 pb-5" style="background-color: #efefef;">
        <div class="container" style="border: 2px solid #000;">
            <div class="row">
                <div class="col-12 pt-5 pb-5 pl-5 text-center" style="">
                    <h1 class="colorBlack">Загрузите файл на печать </h1>                       
                    <input type="file" class="" width="100%" value=""> 
            </div>
            </div>
        </div>
    </section>


<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content pl-3 pr-3">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
      <div class="modal-body pt-2 pb-5 text-center">
        <h6>Наш менеджер свяжется с вами в самое ближайшее время!</h6>

        <input type="text" class="form-control mt-4" name="" id="" aria-describedby="" placeholder="Имя...">
        <input type="tel" class="form-control mt-3" id="phone" name="phone" maxlength="13" placeholder="Телефон..."  pattern="+998-[0-9]{2}-[0-9]{3}-[0-9]{4}" value="+998">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm">Оставьте заявку</button>
      </div>
    </div>
  </div>
</div>
    
{% endblock content %}
	