{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="bg-video-wrap2">
	<video src="img/video/reklama.mp4" loop muted autoplay></video>
	<div class="overlay"></div>
	<h1 style="font-size: 3em;" class="text-uppercase">наша цель - Быть партнерами лучших, <br> быть лучшими партнерами</h1> 
  </div>

<section class="container-fluid pl-0 pr-0" >
	<div class="container pb-5 pt-5">
	  <div class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal1">
						<img src="img/products/reklama/pauk1.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПАУК средний</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Размер: (160x60 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК001</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal2">
						<img src="img/products/reklama/pauk2.webp" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПАУК большой</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(180x75 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК002</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal3">
						<img src="img/products/reklama/eurorollup1.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">РОЛЛ-АП Евро</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(200x75 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК003</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal4">
						<img src="img/products/reklama/rollup1.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">РОЛЛ-АП Евро</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(200x150 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК004</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal5">
						<img src="img/products/reklama/popup1.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПОП-АП вогнутый</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(335x230 см)</h6>
					<h6 class="colorBlack small pl-2">Артикул : РК005</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal6">
						<img src="img/products/reklama/popup2.webp" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПОП-АП прямой</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(230x230 см)</h6>
					<h6 class="colorBlack small pl-2">Артикул : РК006</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal7">
						<img src="img/products/reklama/popup3.webp" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПОП-АП прямой</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(300x230 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК007</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal8">
						<img src="img/products/reklama/promo1.webp" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">ПРОМО СТОЙКА</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(190x90 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК008</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal9">
						<img src="img/products/reklama/presswoll2.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Пресс волл Легкий</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(300x200 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК009</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal10">
						<img src="img/products/reklama/stend1.png" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Информационные стенды</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(200x120 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК010</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal11">
						<img src="img/products/reklama/stend2.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Настенные стенды с рамкой</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(150x120 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК011</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal12">
						<img src="img/products/reklama/stendwoll.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Панель-кронштейн</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(80x80 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК012</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal13">
						<img src="img/products/reklama/bukletnitsa1.png" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Буклетницы</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(120x30 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК013</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal14">
						<img src="img/products/reklama/viveska.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Вывеска с инкрустацией</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(180x20 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК014</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal15">
						<img src="img/products/reklama/domik.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Мобильный шатер aluminium</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(300x300x200 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК015</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
				<div class="card p-3 bg-transparent">
					<a href="#!" data-toggle="modal" data-target="#productmodal16">
						<img src="img/products/reklama/stoyka.jpg" width="100%" height="220" alt="">
						<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Информационная стойка</h6>
						<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">(100x50 см)</h6>
						<h6 class="colorBlack small pl-2">Артикул : РК016</h6>
					</a>
						<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
			  </div>   
				  
	  </div>
	</div>
</section>

  <!-- Product Modal 1-->
  <div class="modal fade" id="productmodal1" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПАУК средний</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/pauk1.jpg" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПАУК средний.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 2 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (160x60 см)</h6>
					<h6>Артикул : РК001</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
		
  <!-- Product Modal 2-->
  <div class="modal fade" id="productmodal2" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПАУК большой</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/pauk2.webp" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПАУК большой.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 1-2 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Регулируемый угол наклона</li>
								<li class="font-weight-normal h6">Хорошая устойчивость</li>
								<li class="font-weight-normal h6">Малая занимаемая площадь</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Сумка в комплекте</li>
								<li class="font-weight-normal h6">Возможность использования нескольких разных по дизайну полотен</li>
							</ul>

					<h6>Размер: (180x75 см)</h6>
					<h6>Артикул : РК002</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 3-->
  <div class="modal fade" id="productmodal3" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ROLL-UP Euro</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/eurorollup1.jpg" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ROLL-UP Euro.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 1-2 дня.</li>
								<li class="font-weight-normal h6">Хорошая устойчивость</li>
								<li class="font-weight-normal h6">Малая занимаемая площадь</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Сумка в комплекте</li>
								<li class="font-weight-normal h6">Низкая стоимость</li>
							</ul>

					<h6>Размер: (200x75 см)</h6>
					<h6>Артикул : РК003</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 4-->
  <div class="modal fade" id="productmodal4" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ROLL-UP Euro</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/rollup1.jpg" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ROLL-UP Euro.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 2-5 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (200x150 см)</h6>
					<h6>Артикул : РК004</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 5-->
  <div class="modal fade" id="productmodal5" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПОП-АП вогнутый</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/popup1.jpg" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПОП-АП вогнутый.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (335x230 см)</h6>
					<h6>Артикул : РК005</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 6-->
  <div class="modal fade" id="productmodal6" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПОП-АП прямой</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/popup2.webp" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПОП-АП прямой.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 2-5 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (230x230 см)</h6>
					<h6>Артикул : РК006</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 7-->
  <div class="modal fade" id="productmodal7" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПОП-АП прямой</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		  
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/popup3.webp" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПОП-АП прямой.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 5-10 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (300x230 см)</h6>
					<h6>Артикул : РК007</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 8-->
  <div class="modal fade" id="productmodal8" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">ПРОМО СТОЙКА</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/promo1.webp" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">ПРОМО СТОЙКА.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 2-7 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (190x90 см)</h6>
					<h6>Артикул : РК008</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Product Modal 9-->
  <div class="modal fade" id="productmodal9" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">Пресс волл Легкий</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
						<div class="border p-2">
							<img src="img/products/reklama/presswoll2.jpg" width="100%" alt="">
						</div>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
					<h5 class="pb-2 font-weight-bold">Пресс волл Легкий.</h5>
					<h6 class="pb-1">Особенности:</h6>
							<ul>
								<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
								<li class="font-weight-normal h6">Простая и быстрая сборка</li>
								<li class="font-weight-normal h6">Презентабельный вид</li>
								<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
							</ul>

					<h6>Размер: (300x200 см)</h6>
					<h6>Артикул : РК009</h6>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>

    <!-- Product Modal 10-->
	<div class="modal fade" id="productmodal10" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Информационные стенды</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/stend1.png" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Информационные стенды.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (200x120 см)</h6>
						<h6>Артикул : РК010</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	  


	      <!-- Product Modal11-->
	<div class="modal fade" id="productmodal11" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Настенные стенды с рамкой</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/stend2.jpg" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Настенные стенды с рамкой.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (150x120 см)</h6>
						<h6>Артикул : РК011</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>


    <!-- Product Modal12-->
	<div class="modal fade" id="productmodal12" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Панель-кронштейн</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/stendwoll.jpg" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Панель-кронштейн.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (80x80 см)</h6>
						<h6>Артикул : РК012</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
    <!-- Product Modal13-->
	<div class="modal fade" id="productmodal13" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Буклетницы</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/bukletnitsa1.png" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Буклетницы.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (120x30 см)</h6>
						<h6>Артикул : РК013</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
    <!-- Product Modal14-->
	<div class="modal fade" id="productmodal14" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Вывеска с инкрустацией</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/viveska.jpg" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Вывеска с инкрустацией.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (180x120 см)</h6>
						<h6>Артикул : РК014</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

	  



	  
	      <!-- Product Modal15-->
	<div class="modal fade" id="productmodal15" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Мобильный шатер aluminium</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/domik.jpg" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Мобильный шатер aluminium.</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (300x300x200 см)</h6>
						<h6>Артикул : РК015</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

	      <!-- Product Modal16-->
	<div class="modal fade" id="productmodal16" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-open" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title pl-3" id="productmodalTitle">Информационная стойка</h5>
			  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
							<div class="border p-2">
								<img src="img/products/reklama/stoyka.jpg" width="100%" alt="">
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-4">
						<h5 class="pb-2 font-weight-bold">Информационная стойка</h5>
						<h6 class="pb-1">Особенности:</h6>
								<ul>
									<li class="font-weight-normal h6">Срок изготовления 5-7 дня.</li>
									<li class="font-weight-normal h6">Простая и быстрая сборка</li>
									<li class="font-weight-normal h6">Презентабельный вид</li>
									<li class="font-weight-normal h6">Компактный чехол в комплекте</li>
								</ul>
	
						<h6>Размер: (100x50 см)</h6>
						<h6>Артикул : РК016</h6>
					  <div class="modal-footer pr-0">
						<button type="button" class="btn btn-outline-success pl-5 pr-5" data-dismiss="modal" data-toggle="modal" data-target="#orderModal">Заказать</button>
					</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

  <!-- Modal Order-->	  
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered " role="document">
	  <div class="modal-content pl-3 pr-3">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel"></h5>
		  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body pt-2 pb-5 text-center">
		  <h6>Наш менеджер свяжется с вами в самое ближайшее время!</h6>
		  <input type="text" class="form-control mt-4 mb-3" name="" id="" aria-describedby="" placeholder="Имя...">
		  <div class="input-group">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1">K</span>
			</div>
			<input type="tel" class="form-control" id="id" name="id" maxlength="4" placeholder="Продукт ID..." aria-describedby="basic-addon1"  pattern="[0-9]{4}" value="">
		  </div>		  
		  <input type="tel" class="form-control mt-3" id="phone" name="phone" maxlength="13" placeholder="Телефон..."  pattern="+998-[0-9]{2}-[0-9]{3}-[0-9]{4}" value="+998">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-success btn-sm">Оставьте заявку</button>
		</div>
	  </div>
	</div>
  </div>
  {% endblock content %}
