{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block content %}


    <section class="container-fluid">
        <div class="container pt-5 pb-5">
            <div class="row">
				<div class="col-12"><h6><span><a href="{% url 'myprint:home' %}" class="text-decoration-none colorBlack"><i class="fa fa-home"></i> Главная</a></span> / <a href="#!" class="colorBlack"> Услуга </a> / <span>Наружная реклама</span></h6></div>
                <div class="col-12 pt-3">
                    <h1 class="font-weight-bold h2 text-center pb-3">{% trans "Наружная реклама." %}</h1>
                    <h6 class="font-weight-normal text-justify">{% trans "Наши производственные мощности позволяют работать не только с Конечным клиентом, но и с ним же через Рекламные Агентства. Для Рекламных Агентств и посредников мы предлагаем:" %}Наши производственные мощности позволяют работать не только с Конечным клиентом, но и с ним же через Рекламные Агентства. Для Рекламных Агентств и посредников мы предлагаем:</h6>
                    <h6>{% trans "Производственные мощности;" %}</h6>
                    <h6>{% trans "Профессиональных специалистов;" %}</h6>
                    <h6>{% trans "Конфиденциальность " %}</h6>
                    <h6>{% trans "Предоставление цен, отличных от цен для Конечного Клиента возможно лишь тем посредникам, которые готовы уменьшить наши трудозатраты за счет грамотного снятия потребности с Клиента, точно сформированного ТЗ, профессиональной подготовки макета к печати и готовых авансировать производство! " %}</h6>
                    <h6>Мы не работаем с компаниями, которые лишь усложняют взаимодействие между Клиентом и производством: </h6>
                    <h6>не в состоянии сформировать точное техническое задание на расчет; </h6>
                    <h6>не готовы авансировать производство: требуют отсрочек платежа и скидку, одновременно;</h6>
                    <h6>не имеющие возможности подготовить макет к печати, и не желающие оплачивать эту услугу.</h6>
                    <h6>Все расчеты для Рекламных агентств осуществляются только по запросу по электронной почте с полным техническим заданием, уточнением кто приобретает материалы, необходимости доставок и информации о желаемой схеме оплат и требуемых сроках производства.</h6>
                    <h6>Мы не готовим своими силами прайс-листы для посредников, не готовим коммерческие предложения ЗА посредников и не готовим ценовые предложения для лиц, не желающих представляться! Мы ценим свое время, своих Клиентов и Ценим профессиональных Партнеров! Подробнее об отношениях с Рекламными Агентствами.</h6>
                    <h6>Мы ЗА качественную бизнес-среду в рекламной отрасли!</h6>
					</h6>
                </div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r1.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Объемные буквы</h5>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r2.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;"> 
							<h5 class="pb-5 pt-2 text-white text-left">Световые короба</h5>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r3.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Таблички</h5>
						</div>
					</div>
				</div>
                 <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r4.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;"> 
							<h5 class="pb-5 pt-2 text-white text-left">Оформления транспор</h5>
						</div>
					</div>
				</div> 
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r5.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Стенды</h5>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r6.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Вывески</h5>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r7.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Бегущие строки</h5>
						</div>
					</div>
				</div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="text-right" style="background-image: url({% static 'img/product/r7.jpg' %}); background-size: cover; height: 200px;">
						<div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
							<h5 class="pb-5 pt-2 text-white text-left">Оформление интерьерa</h5>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3 text-right">
					<button class="btn btn-success pl-5 pr-5">Заказать рекламу</button>
				</div>

            </div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h1 class="font-weight-bold h2 text-center pt-5 pb-3">Порфолио.</h1></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r13.png' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r14.png' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r15.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r16.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r17.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r18.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r19.jpg' %}" width="100%" height="200" alt=""></div></div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2"><div class="border p-2"><img src="{% static 'img/product/r20.jpg' %}" width="100%" height="200" alt=""></div></div>
			</div>
        </div>
    </section>

	{% endblock content %}
