{% extends 'base.html' %}

{% load static %}


{% block content %}

<section class="console-container" style="background-image: url(img/bg/head.jpg); background-size: cover;">
	<div class="container pt-5 pb-5">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
			  <h1 class="text-white font-weight-bold text-left text_h1">Текстильная печать.</h1>
			</div>
		</div>
	</div>
</section>


<section class="container-fluid pl-0 pr-0" >
	<div class="container pb-5 pt-5">
	  <div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card text-center p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/fudbolkaLong2.webp' %}" width="82%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Футболка с длинным рукавом</h6>
					<h6 class="colorBlack small text-left pl-2 pt-0 pb-1 borderDashedBottom">Печать: 10x10см</h6>
					<h6 class="colorBlack small text-left pl-2">Артикул : ТП-001</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/fudbolka4.png' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать <br> На Футболках</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 10x10см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-002</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/kepka.jpg' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать <br> На кепках</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 10x10см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-003</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/talstovka.png' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать на свитшотах</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 30x10см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-004</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/ecosumka.jpg' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать на эко сумках</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 30x20см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-004</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/jiletka.jpg' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать на жилетах</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 20x10см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-004</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/zont2.jpg' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать на зонты</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 30x10см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-004</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
		<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
			<div class="card p-3 bg-transparent">
				<a href="#!" data-toggle="modal" data-target="#productmodal2">
					<img src="{% static 'img/products/textile/fartuk.jpg' %}" width="100%" height="220" alt="">
					<h6 class="font-weight-normal text-dark text-left pl-2 pt-2 pb-0 height50">Печать на фартуке</h6>
					<h6 class="colorBlack small pl-2 pt-0 pb-1 borderDashedBottom">Печать: 30x30см</h6>
					<h6 class="colorBlack small pl-2">Артикул : ТП-004</h6>
				</a>
					<button class="btn btn-sm pl-4 pr-4 bgOrange" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal">Заказать</button>
			</div>
		  </div>  
				
		  
	  </div>
	</div>
</section>


  <!-- Modal Info-->
  <div class="modal fade" id="productmodal" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title pl-3" id="productmodalTitle">Календарь</h5>
		  <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3">
						<img src="img/product/c1.png" width="100%" alt="">
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-9 pt-4">
				   <table>
                    <thead>
                      <tr>
                        <th scope="col">Размер бумага</th>
                        <th scope="col">Тип бумага</th>
                        <th scope="col">Аснова</th>
                        <th scope="col">Мин заказ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row" data-label="Размер бумага">A3 (320*450sm)</td>
                        <td data-label="Тип бумага">200 gr</td>
                        <td data-label="Тип бумага">300 gr</td>
                        <td data-label="Тип бумага">100 шт</td>
                      </tr>
                    </tbody>
                  </table>
				  <div class="modal-footer pr-0">
					<button type="button" class="btn btn-outline-success pl-5 pr-5">Заказать</button>
				</div>
					</div>
				</div>
			</div>
		  
		</div>

	  </div>
	</div>
  </div>
	

  <!-- Modal -->
	
  
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered " role="document">
	  <div class="modal-content pl-3 pr-3">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel"></h5>
		  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Закрыть</button>
		</div>
		<div class="modal-body pt-2 pb-5 text-center">
		  <h6>Наш менеджер свяжется с вами в самое ближайшее время!</h6>
		  <input type="text" class="form-control mt-4 mb-3" name="" id="" aria-describedby="" placeholder="Имя...">
		  <div class="input-group">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1">K</span>
			</div>
			<input type="tel" class="form-control" id="id" name="id" maxlength="4" placeholder="Продукт ID..." aria-describedby="basic-addon1"  pattern="[0-9]{4}" value="">
		  </div>		  
		  <input type="tel" class="form-control mt-3" id="phone" name="phone" maxlength="13" placeholder="Телефон..."  pattern="+998-[0-9]{2}-[0-9]{3}-[0-9]{4}" value="+998">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-success btn-sm">Оставьте заявку</button>
		</div>
	  </div>
	</div>
  </div>


  {% endblock content %}